www.str4t3g1s.com {
	encode zstd gzip
	reverse_proxy 127.0.0.1:3002 {
		transport http {
			read_timeout 300s
			write_timeout 300s
		}
	}
	log {
		output file /var/log/caddy/liftoff-dashboard-access.log
		format console
	}
}
