your.domain.com {
	encode zstd gzip
	@api {
		path *
	}
	handle @api {
		reverse_proxy 127.0.0.1:3001 {
			transport http {
				read_timeout 300s
				write_timeout 300s
			}
		}
	}
	log {
		output file /var/log/caddy/liftoff-access.log
		format console
	}
}


